<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LibertyVendorNightlyVerifiedTPVXLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
   <appSettings>
     <!--Test-->     
     <!--<add key="rootPath" value="C:\Test\Liberty\LibertyVendorNeightlyVerifiedTPVXLS\" />-->
     
     <!--Production-->
     <add key="rootPath" value="\\tmppro2\C\Liberty\Reports\LibertyVendorNightlyVerifiedTPVXLS\" />
  </appSettings>
  <applicationSettings>
    <LibertyVendorNightlyVerifiedTPVXLS.Properties.Settings>
      <setting name="LibertyVendorNightlyVerifiedTPVXLS_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </LibertyVendorNightlyVerifiedTPVXLS.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="LibertyEntities" connectionString="metadata=res://*/LibertyModel.csdl|res://*/LibertyModel.ssdl|res://*/LibertyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Liberty;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>