<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SparkNexxaLeadsImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SparkSqlConn" connectionString="Server=TMPSQL2;Initial Catalog=Spark;User Id=calwrite;Password=wsql2w;" />
    
  </connectionStrings>
  <appSettings>
    <!--<add key="rootPath" value="C:\" />-->
    <add key="CsvFileToImportFromPath" value="\\tmppro2\c\Spark\SparkNexxaLeadsImport\Archive\TempHold\" />
    <add key="CsvFileToImportArchivePath" value="\\tmppro2\c\Spark\SparkNexxaLeadsImport\Archive\" />
    <!--FTP information goes to Root Directory-->
    <add key="host" value="ftp.datapartners.com" />
    <add key="username" value="calibrus" />
    <add key="password" value="dl1nHYYf" />
    <add key="mailRecipientFailTO" value="erobbins@calibrus.com" />
    <add key="mailRecipientNoFileTO" value="support@calibrus.com" />
  </appSettings>
  <applicationSettings>
    <SparkNexxaLeadsImport.Properties.Settings>
      <setting name="SparkNexxaLeadsImport_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </SparkNexxaLeadsImport.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>