<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConstellationDTDPOSIdReportXLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConstellationEntities" connectionString="metadata=res://*/ConstellationModel.csdl|res://*/ConstellationModel.ssdl|res://*/ConstellationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Constellation;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Test-->
    <add key="rootPath" value="C:\Test\Constellation\ConstellationDTDPOSIdReportXLS\" />
    <add key="mailRecipientINTERNALTO" value="erobbins@calibrus.com" />
    <add key="mailRecipientSPECTRUMTO" value="erobbins@calibrus.com" />
    <add key="mailRecipientBCC" value="erobbins@calibrus.com" />
    <!--Production-->
    <!--<add key="rootPath" value="\\tmppro2\C\Constellation\Reports\ConstellationDTDPOSIdReportXLS\" />
    <add key="mailRecipientINTERNALTO" value="Alexander.Malenchek@constellation.com; Dominick.Spano@constellation.com; Frank.Jusich@constellation.com; John.Schwerdtman@constellation.com; Tomeka.Paul@constellation.com; Paul.Lavallee@constellation.com; Paulo.Camilo@constellation.com; Bruce.Gaeth@constellation.com; David.Leone@constellation.com; Mike.Reese@constellation.com; Floyd.Hollins@constellation.com; Ernesto.Melendez2@constellation.com; Elizabeth.Fitzwater@constellation.com; Patricia.Mares@constellation.com" />
    <add key="mailRecipientSPECTRUMTO" value="Alexander.Malenchek@constellation.com; Dominick.Spano@constellation.com; Frank.Jusich@constellation.com; John.Schwerdtmann@constellation.com; Paulo.Camilo@constellation.com; Paul.Lavallee@constellation.com; Ernesto.Melendez2@constellation.com; Mike.Reese@constellation.com; David.Leone@constellation.com; Bruce.Gaeth@constellation.com; Floyd.Hollins@constellation.com; Elizabeth.Fitzwater@constellation.com; saul@spectrumservicesusa.com; jerry@spectrumservicesusa.com; jeff@spectrumservicesusa.com; alinotbakare@spectrumservicesusa.com" />
    <add key="mailRecipientBCC" value ="gmoulton@calibrus.com;krobinson@calibrus.com" />-->
  </appSettings>
  <applicationSettings>
    <ConstellationDTDPOSIdReportXLS.Properties.Settings>
      <setting name="ConstellationDTDPOSIdReportXLS_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </ConstellationDTDPOSIdReportXLS.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>