/*body {
    background-color: #F8F8F8;
}

table{
  table-layout:fixed;
}

table td{
  word-wrap: break-word;
}

.scroll_overflow {
  overflow: auto;
}

form {
   
    
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    color: #404040;
    font-size: 16px;
    padding: 30px 20px;
}
form legend {
    color: #404040;
    font-size: 42px;
    font-family: 'Cookie', cursive;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 150px;
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
}
.wizard .active {
    background: #007ACC;
    color: #fff;
}

input[type='file'] {
    width:400px;
    height:25px;
    opacity:0
}

.alert-info {
    background-color: #CCCCCC !important;
    border-color: blue !important;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert {
    padding: 8px;
    background-color: #CCCCCC !important;
    
    
}

.xinfo {
     background-color: green !important;
}

*/
