<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConstellationDashboardDailyReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="rootPath" value="\\tmppro2\C\Constellation\Reports\ConstellationDashboardDailyReport\" />
    <!--<add key="mailRecipientTO" value="erobbins@calibrus.com" />-->
    <add key="mailRecipientTO" value="David.Leone@constellation.com;David.Kington@constellation.com;Leann.Emmart@constellation.com;James.DeRonck@constellation.com;Jason.Berns@constellation.com;Nicole.Schwartz@constellation.com;Russell.B.Williams@constellation.com;Katie.Shrewsberry@constellation.com;alissa.abramson-densky@exeloncorp.com;Bruce.Gaeth@constellation.com;Pallavi.Damani@constellation.com;Tomeka.Paul@constellation.com;Brandon.horton@constellation.com;Myrna.Martinez@constellation.com;Deronica.Horn@constellation.com;james.light@constellation.com;Bruce.Gaeth@constellation.com;Bette.Holland@constellation.com;Leslie.Moore@constellation.com;Michele.Fetter@constellation.com;Michelle.Pietron@constellation.com;Mike.Reese@constellation.com;lee.turner@constellation.com;achavez@calibrus.com;Patricia.Mares@constellation.com;Dafany.Carter@constellation.com;krobinson@calibrus.com" />
  </appSettings>
  <applicationSettings>
    <ConstellationDashboardDailyReport.Properties.Settings>
      <setting name="ConstellationDashboardDailyReport_DateTimeWS_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </ConstellationDashboardDailyReport.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ConstellationEntities" connectionString="metadata=res://*/ModelConstellation.csdl|res://*/ModelConstellation.ssdl|res://*/ModelConstellation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Constellation;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
