<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConstellationExcelReports_POC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConstellationEntities" connectionString="metadata=res://*/ModelConstellation.csdl|res://*/ModelConstellation.ssdl|res://*/ModelConstellation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Constellation;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="rootPath" value="\\tmppro2\C\Constellation\Reports\ConstellationExcelReports_POC\" />
   
   <!--<add key="mailRecipientTO_44" value="erobbins@calibrus.com" />
    <add key="mailRecipientTO_86" value="erobbins@calibrus.com" />
    <add key="mailRecipientTO_Total" value="erobbins@calibrus.com" />-->
    
    <add key="mailRecipientTO_44" value="wjones@protocall.net;cglenn@protocall.net;khill@protocall.net;cneresidential@protocall.net;ikir@protocall.net;bsa@protocall.net" /> 
    <add key="mailRecipientTO_86" value="fcastillo@globaltelesourcing.com;jserna@globaltelesourcing.com;agarza@globaltelesourcing.com;ccolomo@globaltelesourcing.com;jamaro@globaltelesourcing.com" /> 
    <add key="mailRecipientTO_Total" value="Mike.Reese@constellation.com;Bruce.Gaeth@constellation.com;Michelle.Pietron@constellation.com;Russell.B.Williams@constellation.com;David.leone@constellation.com;Brandon.horton@constellation.com;Patricia.Mares@constellation.com" /> 
  </appSettings>
  <applicationSettings>
    <ConstellationExcelReports_POC.Properties.Settings>
      <setting name="ConstellationExcelReports_POC_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </ConstellationExcelReports_POC.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>