<ion-view view-title="Thank you">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right item-text-wrap item ng-binding">
                <div class="list">
                    Thank you. Your order will be processed.
                </div>
                <br><br>
                <div class="list">
                    Confirmation Number {{vmThanks.thankyou.mainid}}
                </div>
                <br><br>
                <div class="list">
                    Need more information? Download your order here
                    Terms of Service

                </div>
                 <br><br>
                <div class="list">
                   If you have any questions, please contact ...
                    
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>