<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConstellationHomeServicesDailyXLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="rootPath" value="\\tmppro2\C\Constellation\Reports\ConstellationHomeServicesDailyXLS\" />
    <!--<add key="mailRecipientTo" value="erobbins@calibrus.com" />-->
    <add key="mailRecipientTo" value="Katie.Shrewsberry@Constellation.com;Avantika.Dube@constellation.com" />
  </appSettings>
  <applicationSettings>
    <ConstellationHomeServicesDailyXLS.Properties.Settings>
      <setting name="ConstellationHomeServicesDailyXLS_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </ConstellationHomeServicesDailyXLS.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ConstellationEntities" connectionString="metadata=res://*/ConstellationModel.csdl|res://*/ConstellationModel.ssdl|res://*/ConstellationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Constellation;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>