<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WavFileMoveFromPath" value="\\tmpweb7\Reports\BrightPattern\Frontier\Recordings\" />
    <add key="WavFileMoveArchivePath" value="\\tmprec1\rec\" />
    <add key="mailRecipientFailTO" value="erobbins@calibrus.com" />
  </appSettings>
</configuration>