<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CalibrusAWSWavMove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJR4LJDSIJCTKHDCQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key ="bucketName" value="calibruswav" />
    <add key="mailRecipientFailTO" value="erobbins@calibrus.com" />
  </appSettings>
  <applicationSettings>
    <CalibrusAWSWavMove.Properties.Settings>
      <setting name="CalibrusAWSWavMove_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </CalibrusAWSWavMove.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ClearviewEntities" connectionString="metadata=res://*/ClearviewModel.csdl|res://*/ClearviewModel.ssdl|res://*/ClearviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Clearview;persist security info=True;user id=calwrite;password=wsql2w;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CalibrusSqlConn" connectionString="Server=TMPSQL2;Initial Catalog=Calibrus;User Id=calwrite;Password=wsql2w;" />
  </connectionStrings>
</configuration>