<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FrontierSqlConn" connectionString="Server=TMPSQL2;Initial Catalog=Frontier;User Id=calwrite;Password=wsql2w;" />
    <add name="FrontierEntities" connectionString="metadata=res://*/FrontierModel.csdl|res://*/FrontierModel.ssdl|res://*/FrontierModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Frontier;persist security info=True;user id=calwrite;password=wsql2w;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="CsvFileToImportFromPath" value="\\tmpweb7\Reports\BrightPattern\Frontier\Download\" />
    <add key="CsvFileToImportArchivePath" value="\\tmppro2\C\Frontier\FrontierE911BrightPatternFileInsert\Archive\" />
    <add key="CsvFileToImportBadFileArchivePath" value="\\tmppro2\C\Frontier\FrontierE911BrightPatternFileInsert\Archive\BadFile\" />
    <add key="mailRecipientFailTO" value="erobbins@calibrus.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>