<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CalibrusAWSBulkWavFileMove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJR4LJDSIJCTKHDCQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key ="bucketName" value="calibruswav" />
    <add key="mailRecipientFailTO" value="erobbins@calibrus.com" />
  </appSettings>
  <applicationSettings>
    <CalibrusAWSBulkWavFileMove.Properties.Settings>
      <setting name="CalibrusAWSBulkWavFileMove_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </CalibrusAWSBulkWavFileMove.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="LifeEnergyEntities" connectionString="metadata=res://*/LifeEnergyModel.csdl|res://*/LifeEnergyModel.ssdl|res://*/LifeEnergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=LifeEnergy;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CalibrusSqlConn" connectionString="Server=TMPSQL2;Initial Catalog=Calibrus;User Id=calwrite;Password=wsql2w;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>