<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClearviewEntities" connectionString="metadata=res://*/Infrastructure.ClearviewData.csdl|res://*/Infrastructure.ClearviewData.ssdl|res://*/Infrastructure.ClearviewData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Clearview;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="ClearviewContext" connectionString="Data Source=TMPSQL2;Initial Catalog=ClearView;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
</configuration>