@{
    ViewBag.Title = "Error";
}

<br /><br />
<div class="container-fluid">
    <div class="alert alert-danger col-md-6 col-md-offset-3">

        <h3 class="">You have stumbled upon an error</h3>
        <div>The error details have been logged.</div>

    </div>
</div>


