<input type="text" ng-model="vm.answers.agentid">
<!-- <button type="button" class="btn btn-success" ng-click="vm.ValidateAgent(vm.answers)">Validate Agent
</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<button type="button" class="btn btn-success" ng-click="template('agent');validateAgent(vm.answers)">Validate Agent
</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div id="agentName"></div>

<!-- <br>{{data}}<br><br>
data.name = {{data[0].name}} -->

<!-- {{users}}
{{user.name}} -->

data: {{data}}