
   <input type="text" ng-model="vm.answers.channel" value="libertyTemplate">

   <div>
    <!-- {{user.name}}
    {{user.type}} -->
  <i><span ng-bind="user.name"></span></i> 

 <!-- var url = "";

            var promise;
            
            url = "http://maps.googleapis.com/maps/api/geocode/json?address=85298"
            $http.get(url).then(function(result){
                //vm.dataentry.google = result.data.results[0];
             

               vm.dataentry.googlecity = result.data.results[0].address_components[1].short_name; //   (gilbert)
               vm.dataentry.googlestate = result.data.results[0].address_components[3].short_name;    //  az
                console.log(vm.dataentry);

            }, function(err){
                console.log('err getting agent validation', err);
            }); -->
  test
</div>