<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BookServiceContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=BookServiceContext-20140613003603; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|BookServiceContext-20140613003603.mdf" providerName="System.Data.SqlClient" />
    <add name="IssuesServiceContext" connectionString="Data Source=SQLDEV3\DS3;Initial Catalog=ESO;User ID=eso;Password=rwesodoc1" providerName="System.Data.SqlClient" />
    <add name="DOCContextRegisterProd" connectionString="Data Source=SQLPRD8\PS1;Initial Catalog=Register;User ID=eso;Password=rwesodoc1" providerName="System.Data.SqlClient" />
    <add name="CalibrusContext" connectionString="Data Source=TMPSQL2;Initial Catalog=Calibrus;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="qaList" value="data source = TMPSQL2; initial catalog = master;uid=sa;pwd=" />
    <add key="SRPDOP02ESO" value="data source = SQLPRD8\PS1; initial catalog = eso;uid=eso;pwd=rwesodoc1" />
    <add key="SRPDOP03ESO" value="data source = SQLDEV3\DS3; initial catalog = eso;uid=eso;pwd=rwesodoc1" />
    <add key="SRPDOP04ESO" value="data source = SQLDEV3\DS3; initial catalog = eso;uid=eso;pwd=rwesodoc1" />
  </appSettings>
</configuration>