<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CalibrusIVRDailyReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="i3_eicEntities" connectionString="metadata=res://*/Modeli3_eic.csdl|res://*/Modeli3_eic.ssdl|res://*/Modeli3_eic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KYRSQL1;initial catalog=i3_eic;user id=sa;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LesliesPoolEntities" connectionString="metadata=res://*/ModelLesliePool.csdl|res://*/ModelLesliePool.ssdl|res://*/ModelLesliePool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=LesliesPool;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HumanArcEntities" connectionString="metadata=res://*/ModelHumanArc.csdl|res://*/ModelHumanArc.ssdl|res://*/ModelHumanArc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=HumanArc;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CompanionEntities" connectionString="metadata=res://*/ModelCompanion.csdl|res://*/ModelCompanion.ssdl|res://*/ModelCompanion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL5;initial catalog=Companion;user id=sa;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChubbEntities" connectionString="metadata=res://*/ModelChubb.csdl|res://*/ModelChubb.ssdl|res://*/ModelChubb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL5;initial catalog=Chubb;user id=sa;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HagertyEntities" connectionString="metadata=res://*/ModelHagerty.csdl|res://*/ModelHagerty.ssdl|res://*/ModelHagerty.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL5;initial catalog=Hagerty;user id=sa;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RASEntities" connectionString="metadata=res://*/ModelRAS.csdl|res://*/ModelRAS.ssdl|res://*/ModelRAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL5;initial catalog=RAS;user id=sa;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SocietyEntities" connectionString="metadata=res://*/ModelSociety.csdl|res://*/ModelSociety.ssdl|res://*/ModelSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL5;initial catalog=Society;user id=sa;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SchoolsEntities" connectionString="metadata=res://*/ModelSchools.csdl|res://*/ModelSchools.ssdl|res://*/ModelSchools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL5;initial catalog=SchoolsClaimsService;user id=sa;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MerryMaidsEntities" connectionString="metadata=res://*/ModelMerryMaids.csdl|res://*/ModelMerryMaids.ssdl|res://*/ModelMerryMaids.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=MerryMaids;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MerryMaidsDnis" value="2289,2290,2291,2292" />
    <add key="MiConnectionDnis" value="8911" />
    <add key="TexpoYEPNorthstarDnis" value="6511,6512,6646,7185,6526,4508,6573" />
    <!-- PRODUCTION-->
    <add key="rootPath" value="\\tmppro2\C\Calibrus\reports\IVRDailyReport\" />
    <add key="mailRecipientTO" value="gmoulton@calibrus.com;krobinson@calibrus.com;achavez@calibrus.com" />
    <!-- TEST -->
    <!--<add key="rootPath" value="C:\Calibrus\reports\IVRDailyReport\" />
    <add key="mailRecipientTO" value="erobbins@calibrus.com" />-->
  </appSettings>
  <applicationSettings>
    <CalibrusIVRDailyReport.Properties.Settings>
      <setting name="CalibrusIVRDailyReport_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </CalibrusIVRDailyReport.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>