<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConstellationDTDNoSaleXLSReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <ConstellationDTDNoSaleXLSReport.Properties.Settings>
      <setting name="ConstellationDTDNoSaleXLSReport_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </ConstellationDTDNoSaleXLSReport.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ConstellationEntities" connectionString="metadata=res://*/ConstellationModel.csdl|res://*/ConstellationModel.ssdl|res://*/ConstellationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Constellation;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Test-->
    <add key="rootPath" value="C:\Test\Constellation\ConstellationDTDNoSaleXLSReport\" />
    <add key="mailRecipientTO_ProtocallDTD" value="erobbins@calibrus.com" />
    <add key="mailRecipientTO_WattsMarketingSolutions" value="erobbins@calibrus.com" />
    <add key="mailRecipientTO_UES" value="erobbins@calibrus.com" />
    <add key="mailRecipientTO_National1" value="erobbins@calibrus.com" />
    <add key="mailRecipientTO_Total" value="erobbins@calibrus.com" />
    <add key="mailRecipientBCC" value="erobbins@calibrus.com" />
    <!--Production-->
    <!--<add key="rootPath" value="\\tmppro2\C\Constellation\Reports\ConstellationDTDNoSaleXLSReport\" />
    <add key="mailRecipientTO_ProtocallDTD" value="aschindelar@protocall.net;smanning@protocall.net;ssmith@protocall.net" />
    <add key="mailRecipientTO_WattsMarketingSolutions" value="heidi.fugate@gmail.com;bbrache@wattsmarketingservicesinc.com;mcoleman@wattsmarketingservicesinc.com;Owatts81@gmail.com" />
    <add key="mailRecipientTO_UES" value="jbishop@unitedenergyservices.net;egorman@unitedenergyservices.net;nhonan@unitedenergyservices.com" />
    <add key="mailRecipientTO_National1" value="IHudson@Telga.net;JMcMillan@telga.net;hrassistant@telga.net;rmaxedon@national1energy.com" />
    <add key="mailRecipientTO_Total" value="David.Leone@constellation.com;MMSalesOps-TPVandTabletSupport@exeloncorp.com; D2DStateManagers@constellation.com" />
    <add key="mailRecipientBCC" value ="gmoulton@calibrus.com;krobinson@calibrus.com" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>