<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SparkWsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SparkWsTest.Properties.Settings>
            <setting name="SparkWsTest_SparkWS_localhost_SparkWS" serializeAs="String">
                <value>http://localhost:41051/SparkWS.asmx</value>
            </setting>
            <setting name="SparkWsTest_SparkWS_SparkWS" serializeAs="String">
                <value>https://wsssl.calibrus.com/spark/Sparkws.asmx</value>
            </setting>
        </SparkWsTest.Properties.Settings>
    </applicationSettings>
</configuration>