<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SparkNaturalGasAndElectricXLSReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="rootPath" value="\\tmppro2\C\Spark\Reports\SparkNaturalGasAndElectricXLSReport\" />
    <!--<add key="rootPath" value="C:\Test\SparkNaturalGasAndElectricXLSReport\" />-->
    <!--FTP information goes to Root Directory-->
    <add key="hostName" value="ftp.oasisenergy.com" />
    <add key="userName" value="Calibrus" />
    <add key="password" value="Oasis2016!" />
  </appSettings>
  <applicationSettings>
    <SparkNaturalGasAndElectricXLSReport.Properties.Settings>
      <setting name="SparkNaturalGasAndElectricXLSReport_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </SparkNaturalGasAndElectricXLSReport.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="SparkEntities" connectionString="metadata=res://*/SparkModel.csdl|res://*/SparkModel.ssdl|res://*/SparkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Spark;user id=calread;password=rsql2r;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>