<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings xdt:Transform="Replace">
    <!--<add name="ClearviewEntities" connectionString="metadata=res://*/Infrastructure.ClearviewData.csdl|res://*/Infrastructure.ClearviewData.ssdl|res://*/Infrastructure.ClearviewData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qfnlfalqnv.database.windows.net,1433;initial catalog=Clearview;persist security info=True;user id=calibrus;password=XfSpndUccXhPsp6PZS25;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ClearviewEntities" connectionString="metadata=res://*/Infrastructure.ClearviewData.csdl|res://*/Infrastructure.ClearviewData.ssdl|res://*/Infrastructure.ClearviewData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Clearview;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClearviewContext" connectionString="Data Source=TMPSQL2;Initial Catalog=ClearView;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="reportServer" value="http://10.100.59.32/reportserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <staticContent xdt:Transform="Insert">
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="http to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>