<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SparkMajorEnergyEnrollmentDaily.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SparkEntities" connectionString="metadata=res://*/SparkModel.csdl|res://*/SparkModel.ssdl|res://*/SparkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Spark;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Test-->
    <!--<add key="rootPath" value="C:\Test\Spark\SparkMajorEnergyEnrollmentDaily\" />
    <add key="mailRecipientTO" value="erobbins@calibrus.com" />
    <add key="mailRecipientBCC" value="erobbins@calibrus.com" />-->
    <!--Production-->
    <add key="rootPath" value="\\tmppro2\C\Spark\Reports\SparkMajorEnergyEnrollmentDaily\" />
    <add key="mailRecipientTO" value="sbensinger@majorenergy.com;nlawson@majorenergy.com;canzalone@majorenergy.com;hmcguinness@majorenergy.com" />
    <add key="mailRecipientBCC" value ="gmoulton@calibrus.com;krobinson@calibrus.com" />
  </appSettings>
  <applicationSettings>
    <SparkMajorEnergyEnrollmentDaily.Properties.Settings>
      <setting name="SparkMajorEnergyEnrollmentDaily_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </SparkMajorEnergyEnrollmentDaily.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>