<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConstellationDailyActivityReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <!--Test-->
    <!--<add key="rootPath" value="C:\Constellation\" />
    <add key="mailRecipientTO_Protocall" value="erobbins@calibrus.com" />
    <add key="mailRecipientTO_Global" value="erobbins@calibrus.com" />
    <add key="mailRecipientTO_Total" value="erobbins@calibrus.com" />-->

    <!--Production-->
    <add key="rootPath" value="\\tmppro2\C\Constellation\Reports\ConstellationEnergyDailyActivityReport\" />
    <!--Protocall 44-->
    <add key="mailRecipientTO_Protocall" value="khill@protocall.net;ikir@protocall.net;wjones@protocall.net;Michelle.Pietron@constellation.com;Bruce.Gaeth@constellation.com;Mike.Reese@constellation.com;Tomeka.Paul@constellation.com;Denise.Baker@constellation.com;David.Leone@constellation.com;Russell.B.Williams@constellation.com;Tara.Patrick@constellation.com;Brandon.Horton@constellation.com" />

    <!--Global 86-->
    <add key="mailRecipientTO_Global" value="fcastillo@globaltelesourcing.com;ccolomo@globaltelesourcing.com;jamaro@globaltelesourcing.com;Michelle.Pietron@constellation.com;Bruce.Gaeth@constellation.com;Mike.Reese@constellation.com;Russell.B.Williams@constellation.com;Tara.Patrick@constellation.com;Brandon.Horton@constellation.com" />

    <!--All Vendors-->
    <add key="mailRecipientTO_Total" value="mike.reese@constellation.com; bruce.gaeth@constellation.com; michelle.pietron@constellation.com; Russell.B.Williams@constellation.com; tara.patrick@constellation.com; brandon.horton@constellation.com; Patricia.Mares@constellation.com; gmoulton@calibrus.com; krobinson@calibrus.com; jpowers@calibrus.com" />
  </appSettings>
  <applicationSettings>
    <ConstellationDailyActivityReport.Properties.Settings>
      <setting name="ConstellationDailyActivityReport_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </ConstellationDailyActivityReport.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ConstellationEntities" connectionString="metadata=res://*/ConstellationModel.csdl|res://*/ConstellationModel.ssdl|res://*/ConstellationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Constellation;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>