<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClearviewDailySalesBatchXLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--Test-->
    <!--<add key="rootPath" value="C:\Test\Clearview\ClearviewDailySalesBatchXLS\" />-->
    <!--Production-->
    <add key="rootPath" value="\\tmppro2\C\Clearview\Reports\ClearviewDailySalesBatchXLS\" />
    <!--FTP information goes to Root Directory-->
    <add key="hostName" value="ftp.clearviewenergy.com" />
    <add key="userName" value="CVW008\CALIBRUS" />
    <add key="password" value="o621!CV" />
    <add key="folder" value="Daily_Sales_Reports" />
  </appSettings>
  <applicationSettings>
    <ClearviewDailySalesBatchXLS.Properties.Settings>
      <setting name="ClearviewDailySalesBatchXLS_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </ClearviewDailySalesBatchXLS.Properties.Settings>
  </applicationSettings>
    <connectionStrings>
    <add name="ClearviewEntities" connectionString="metadata=res://*/ClearviewModel.csdl|res://*/ClearviewModel.ssdl|res://*/ClearviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Clearview;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>