<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SparkDailyActivityReportXLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Test-->
    <!--<add key="mailRecipientTO" value="erobbins@calibrus.com" />
    <add key="rootPath" value="C:\Test\Spark\SparkDailyActivityReportXLS\" />-->

    <!--Production-->
    <add key="rootPath" value="\\tmppro2\C\Spark\Reports\SparkDailyActivityReportXLS\" />
    <add key="mailRecipientTO" value="salesreports@sparkenergy.com;gmoulton@calibrus.com;krobinson@calibrus.com" />
  </appSettings>
  <applicationSettings>
    <SparkDailyActivityReportXLS.Properties.Settings>
      <setting name="SparkDailyActivityReportXLS_DateTimeService_Reporting_x0020_DateTime_x0020_Service" serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </SparkDailyActivityReportXLS.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="SparkEntities" connectionString="metadata=res://*/SparkModel.csdl|res://*/SparkModel.ssdl|res://*/SparkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Spark;persist security info=True;user id=calread;password=rsql2r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>