<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ConstellationEntities" connectionString="metadata=res://*/ConstellationModel.csdl|res://*/ConstellationModel.ssdl|res://*/ConstellationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Constellation;persist security info=True;user id=calwrite;password=wsql2w;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!---API Keys-->
    <add key="GlobalAPIKey" value="EnrollInHomeService?apiKey=SlDBPSZgJRlmr69Y%2fORKztF%2bGRaEIwuqalv1xOpJdDs2mOsjUDS%2baSyUuUCSCA1I" />
    <add key="ProtocallAPIKey" value="EnrollInHomeService?apiKey=SlDBPSZgJRkm04kwJTKHFyrVb9vO%2b8BFXMI2%2fj6zT8S0%2fRy7pf%2b77b1TFfynU3P8" />
    
    <!-- Stage-->
    <!--<add key="BaseAddress" value="https://stage-soaext.constellation.com/PartnerServiceAPI/api/v1/ResiPartner/" />
    <add key="Username" value="Svc_wbapi_calibrus_s" />
    <add key="Password" value="Fr34k!0ut67dtuc$" />-->

    <!-- Production-->
    <add key="BaseAddress" value="https://soaext.constellation.com/PartnerServiceAPI/api/v1/ResiPartner/" />
    <add key="Username" value="Svc_wbapi_calibrus_p" />
    <add key="Password" value="Fr34k!0ut67dtuc$" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>