<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IResidentialPartnerService" >
                <security mode="Transport"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://partners-stage.constellation.com/PartnerService/ResidentialPartnerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResidentialPartnerService"
                contract="ConstellationWS.IResidentialPartnerService" name="BasicHttpBinding_IResidentialPartnerService" />
        </client>
    </system.serviceModel>
</configuration>