<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FrontierE911LaodFileInsert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FrontierSqlConn" connectionString="Server=TMPSQL2;Initial Catalog=Frontier;User Id=calwrite;Password=wsql2w;" />
    <add name="FrontierEntities" connectionString="metadata=res://*/FrontierModel.csdl|res://*/FrontierModel.ssdl|res://*/FrontierModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Frontier;persist security info=True;user id=calwrite;password=wsql2w;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="CsvFileToImportFromPath" value="\\tmppro2\c\Frontier\FrontierE911LoadFileInsert\" />
    <add key="CsvFileToImportArchivePath" value="\\tmppro2\C\Frontier\FrontierE911LoadFileInsert\Archive\" />
    <add key="mailRecipientFailTO" value="erobbins@calibrus.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <FrontierE911LaodFileInsert.Properties.Settings>
      <setting name="FrontierE911LaodFileInsert_DateTimeService_Reporting_x0020_DateTime_x0020_Service"
        serializeAs="String">
        <value>http://10.100.61.70/datetimeservice/datetime.asmx</value>
      </setting>
    </FrontierE911LaodFileInsert.Properties.Settings>
  </applicationSettings>
</configuration>