<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FrontierTPVWSSoap" />
                <binding name="FrontierTPVWSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41331/FrontierTPVWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="FrontierTPVWSSoap"
                contract="FrontierTPVService.FrontierTPVWSSoap" name="FrontierTPVWSSoap" />
            <endpoint address="http://ws.calibrus.com/FrontierTPVWebService/FrontierTPVWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="FrontierTPVWSSoap1"
                contract="FrontierTPVServicePROD.FrontierTPVWSSoap" name="FrontierTPVWSSoap1" />
        </client>
    </system.serviceModel>
</configuration>