<?xml version="1.0"?>
<configuration>
  <system.web>

    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">

      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="CalibrusEntities" connectionString="metadata=res://*/App_Code.Calibrus.csdl|res://*/App_Code.Calibrus.ssdl|res://*/App_Code.Calibrus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPSQL2;initial catalog=Calibrus;persist security info=True;user id=calwrite;password=wsql2w;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPServer" value="TMPWEB1"/>
    <add key="EmailRecipients" value="gmoulton@calibrus.com;gmoulton99@gmail.com;krobinson@calibrus.com;info@calibrus.com"/>
  </appSettings>
</configuration>